* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
}

a {
  text-decoration: none;
}

/* 清除浮动 */
.clearfix::after {
  content: ""; /*必须写*/
  visibility: hidden;
  clear: both;
  display: block;
  height: 0;
}
.clearfix {
  *zoom: 1;
}


